<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>Filter</key><dict><key>Bundles</key><array>
<string>org.whispersystems.signal</string>
<string>org.whispersystems.signal.SignalNSE</string>
<string>org.whispersystems.signal.shareextension</string>
</array></dict></dict></plist>
