Package: uk.551.signalregistrationtracer16
Name: Signal Registration Tracer iOS 16
Version: 0.1.0
Architecture: iphoneos-arm64
Description: Read-only rootless Signal registration tracer for iOS 16.
Maintainer: 551UK
Author: 551UK
Section: Tweaks
Depends: firmware (>= 16.0), firmware (<< 17.0)
